<form action="sendEmail" method="post" enctype="multipart/form-data">
        <input type="text" name="name" placeholder="Enter Email Address" value=""/>
        <input type="text" name="txt_email_address" placeholder="Email Content Text" value=""/>
        <input type="submit" name="btn_save"/>
    </form> 