<html>

<body>
    <h1>
        <%= Name %>
    </h1>

    <ul>
        <%  for(var i of arr){ %>
            <li>
                <%= i%>
        <% } %>


    </ul>
    <%- include("form.ejs") %>
</body>

</html>